body {
	background-color: #FFF8E1;
	font-family: 'Acme', sans-serif;
}

.splash-div {
	background-image: url("/images/peppers.jpeg");
	background-size: cover;
	color: #AAAAAD;
	height: 100vh;
}

.recipe-btn {
	background-color: #A6537A;
	border: solid 1px #ffffff;
	color: #FFFFFF;
}

.recipe-btn:hover {
	background-color: #D977AD;
	border: solid 1px	#000000;
}

.recipe-btn:active {
	background-color: #D977AD;
}

.recipe-btn:focus {
	background-color: #D977AD;
}

.meal-btn {
	margin-bottom: 5%;;
	width: 100%;
}

.recipe-list-headline {
	font-size: 18px;
	margin: 0;
}

.panel-heading {
	background-color: #A6537A !important;
	color: #FFFFFF !important;
}

.signup-form {
	padding: 0;
}

.input-group-addon {
	background-color: #A6537A;
	color: #FFFFFF;
}

.capitalize {
	text-transform: capitalize;
}