body {
	background-color: #FFF8E1;
	font-family: 'Acme', sans-serif;
}

#splash {
	background-image: url('../images/morning-breakfast.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.headline {
	font-size: 3em;
}

#about-site {
	background-color: rgba(52,52,52,0.5);
}

.recipe-btn {
	background-color: #A6537A;
	border: solid 1px #ffffff;
	color: #FFFFFF;
}

.recipe-btn:hover {
	background-color: #D977AD;
	border: solid 1px	#000000;
}

.recipe-btn:active {
	background-color: #D977AD;
}

.recipe-btn:focus {
	background-color: #D977AD;
}

.meal-btn {
	margin-bottom: 5%;;
	width: 100%;
}

.recipe-list-headline {
	font-size: 18px;
	margin: 0;
}

.panel-heading {
	background-color: #A6537A !important;
	color: #FFFFFF !important;
}

.signup-form {
	padding: 0;
}

.search-container {
	border: 1px solid #d3d3d3;
}

.capitalize {
	text-transform: capitalize;
}