<div class="row">
	<div class="col-md-offset-2 col-md-8 col-sm-12">
		<h1 class="page-header text-center">Login</h1>
		<form ng-submit="userLogin()">
			<div class="form-group">
				<label for="email"></label>
				<div class="input-group">
					<span class="input-group-addon">Email</span>
					<input type="text" class="form-control" id="email" placeholder="example@email.com" ng-model="user.email">
				</div>
			</div>
			<div class="form-group">
				<label for="password"></label>
				<div class="input-group">
					<span class="input-group-addon">Password</span>
					<input type="password" class="form-control" id="password" ng-model="user.password">
				</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn form-control" value="Login">
			</div>
		</form>
	</div>
</div>