<div layout="column" id="welcome-page" layout-fill ng-cloak>
	<div layout="column" layout-align="center center" layout-padding>
		<div layout="row" layout-fill layout-align="center center">
			<h1 flex-gt-sm="50" id="site-title" class="stitched">Recipe Box</h1>			
		</div>
		<h1 class="headline">Don't let your kids get tired of having the same meal every day.</h1>
		<h1 class="headline">Get ideas and keep your recipes organized.</h1>
		<div layout="column" layout-gt-sm="row">
			<div ng-repeat="card in cardInfo" flex-gt-sm="33" flex="100" class="informational-card stitched">
				<h1>{{card.title}}</h1>
				<p>{{card.content}}</p>
			</div>
		</div>
	</div>
	<md-divider></md-divider>
	<div id="how-works" layout="column" layout-align="center center">
		<p>Look at recipes to be inspired!</p>
	</div>
	<md-divider></md-divider>
	<div layout="column" layout-align="center center">
		<p>have a toolbar on the bottom that maybe pops up and shows that i made it</p>
	</div>
</div>