<md-content layout="column" flex id="splash">
	<div id="about-site" layout="column" layout-align="center center" flex layout-padding>
		<h1 class="headline">Don't let your kids get tired of having the same meal each and every day.</h1>
		<p>Create and store your recipes online and bring them with you everywhere you go.</p>
		<p>Share your recipes with other members or keep them all to yourself.</p>
		<p>Get ideas from other members to try out yourself!</p>
	</div>
	<div layout="column" layout-align="center center" flex>
		<p>more content here explaining the site and usage instructions</p>
		<p>show some example recipes? screenshots?</p>
	</div>
	<div layout="column" layout-align="center center" flex>
		<p>have a toolbar on the bottom that maybe pops up and shows that i made it</p>
	</div>
</md-content>
