<md-content layout="column" id="welcome-page" layout-fill ng-cloak>
	<div id="intro-site" layout="column" layout-align="center center">
		<h1 class="headline" layout>Don't let your kids get tired of having the same meal every day.</h1>
		<h1 class="headline" layout>Get ideas and keep your recipes organized.</h1>
		<div layout="row">
			<md-card ng-repeat="card in cardInfo" flex="33" class="main-card" layout-align="center center">
				<md-card-title>
					<md-card-title-text class="capitalize">
						<h1 layout="row">{{card.title}}</h1>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<p>{{card.content}}</p>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<md-divider></md-divider>
	<div id="how-works" layout="column" layout-align="center center">
		<p>Feel free to look at recipes and get inspired!</p>
		<p>You must sign up to add recipes to your recipe box.</p>
	</div>
	<md-divider></md-divider>
	<div layout="column" layout-align="center center">
		<p>have a toolbar on the bottom that maybe pops up and shows that i made it</p>
	</div>
</md-content>