<div class="row">
	<div class="col-md-12">
		<a class="btn btn-default pull-right" href="/">back to recipes</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<form ng-submit="addRecipe()">
			<div class="checkbox"><strong>Meals:</strong>
				<label><input ng-model="recipe.mealType.breakfast" type="checkbox">Breakfast</label>
				<label><input ng-model="recipe.mealType.lunch" type="checkbox">Lunch</label>
				<label><input ng-model="recipe.mealType.snack" type="checkbox">Snack</label>
				<label><input ng-model="recipe.mealType.dinner" type="checkbox">Dinner</label>
			</div>
			<div class="form-group">
				<label for="name">Recipe name</label>
				<input class="form-control" type="text" id="name" placeholder="Recipe Name" ng-model="recipe.name">
			</div>
			<div class="form-group">
				<label for="ingredients">Enter Ingredients</label>
				<div ng-repeat="ingredient in recipe.ingredients">
					<input class="form-control" id="ingredients" type="text" ng-model="recipe.ingredients[$index].name" placeholder="Enter ingredient name">
				</div>
				<button class="btn btn-default" ng-click="addMoreIngredients()">Add more ingredients</button>
			</div>
			<div class="form-group">
				<label for="comment">Recipe Comments</label>
				<input class="form-control" type="text" id="comment" ng-model="recipe.comment" placeholder="Special instructions">
			</div>
			<input class="btn" type="submit" value="ADD">
		</form>
	</div>
</div>