<div class="individual-recipe" ng-hide="editForm">
	<div class="row">
		<div class="col-md-12">
			<a class="btn pull-right" href="/">All Recipes</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="capitalize text-center">{{foundRecipe.name}}</h1>
			<h2>Ingredients</h2>
			<ul class="ingredients" ng-repeat="ingredients in foundRecipe.ingredients">
				<li>{{ingredients.name}}</li>
			</ul>
			<p ng-if="foundRecipe.comment !== ''">Special Instructions: {{foundRecipe.comment}}</p>
			<button class="btn" ng-click="editForm = !editForm"><i class="fa fa-pencil"></i> Edit</button>
			<button class="btn" ng-hide="editForm" ng-click="removeRecipe()"><i class="fa fa-trash"></i> Remove</button>
		</div>
	</div>
	<hr>
</div>
<div class="edit-form" ng-show="editForm">
	<button class="pull-right btn" ng-show="editForm" ng-click="editForm = !editForm">Cancel</button>
	<form ng-submit="updateRecipe()">
		<div class="checkbox"><strong>Change meals:</strong>
			<label><input ng-model="updateRecipe.mealType.breakfast" type="checkbox">Breakfast</label>
			<label><input ng-model="updateRecipe.mealType.lunch" type="checkbox">Lunch</label>
			<label><input ng-model="updateRecipe.mealType.snack" type="checkbox">Snack</label>
			<label><input ng-model="updateRecipe.mealType.dinner" type="checkbox">Dinner</label>
		</div>
		<div class="form-group">
			<label for="name">Recipe name</label>
			<input class="form-control" type="text" id="name" placeholder="Name" ng-model="foundRecipe.name">
		</div>
		<div class="form-group">
			<label for="ingredients">Enter Ingredients</label>
			<div id="ingredients" ng-repeat="ingredient in foundRecipe.ingredients">
				<input class="form-control" type="text" ng-model="foundRecipe.ingredients[$index].name" placeholder="Ingredient name">
			</div>
			<input type="button" class="btn" value="Add more ingredients" ng-click="addMoreIngredients()">
		</div>
		<div class="form-group">
			<label for="comment">Recipe Comments</label>
			<input class="form-control" type="text" id="comment" ng-model="foundRecipe.comment" placeholder="Special instructions">
		</div>
		<input class="btn" type="submit" value="Update" ng-click="editForm = !editForm">
	</form>
</div>
<div ng-hide="editForm">
	<a class="btn" href="/newrecipe">Add a recipe</a>
</div>