body {
	color: #000000;
	font-family: 'Acme', sans-serif;
}

nav {
	background-color: #6287f9;
	padding-left: 10px;
}

hr {
	border-top-color: #000000;
}

a {
	color: #000000;
}

.button {
	margin-bottom: 2%;
}

.back-button {
	padding-top: 0;
}

.capitalize::first-letter {
	text-transform: uppercase;
}

.menu {
	background-color: #A6537A;
}

.add-recipe {
	margin-top: 5%;
}