html {
	background-color: #BCDC94;
}
body {
	color: #000000;
	font-family: 'Acme', sans-serif;
}

hr {
	border-top-color: #000000;
}

a {
	color: #000000;
}

.button {
	border-width: 0;
}

.back-button {
	padding-top: 0;
}

.capitalize::first-letter {
	text-transform: uppercase;
}

.add-recipe {
	margin-top: 5%;
}