<md-toolbar class="md-primary md-hue-1" layout="row" layout-align="space-around center">
	<md-button class="md-primary md-raised" ng-href="/">
		<span show-gt-sm hide>Home</span>
		<md-icon show-xs show-sm hide class="material-icons">home</md-icon>
	</md-button>
	<md-button show-xs hide class="md-primary md-raised" ng-click="showMobileMenu()">
		<md-icon class="material-icons">menu</md-icon>
	</md-button>
	<md-button class="md-primary md-raised" ng-href="/recipes" show-gt-xs hide>Recipes</md-button>
	<md-button class="md-primary md-raised" ng-show="currentUser" ng-href="#" ng-click="logout()" show-gt-xs hide>Logout</md-button>
	<md-button class="md-primary md-raised" ng-show="!currentUser" ng-href="/signup" show-gt-xs hide>Sign-up</md-button>
	<md-button class="md-primary md-raised" ng-show="!currentUser" ng-href="/login" show-gt-xs hide>Login</md-button>
</md-toolbar>