<md-toolbar id="nav-bar" class="md-accent" layout="row" layout-align="space-around center" ng-controller="HeaderCtrl">
	<md-button class="nav-btn md-primary md-raised" ng-href="/">
		<span show-gt-sm hide>Home</span>
		<md-icon show-xs show-sm hide class="material-icons">home</md-icon>
	</md-button>
	<span hide show-gt-xs>Kids Recipes</span>
	<md-button show-xs hide class="nav-btn md-primary md-raised" ng-click="showMobileMenu()">
		<md-icon class="material-icons">menu</md-icon>
	</md-button>
	<md-button class="nav-btn md-primary md-raised" ng-href="/recipes" show-gt-xs hide>Recipes</md-button>
</md-toolbar>