<form ng-submit="addRecipe()" flex-offset="25" flex="50">
	<div layout="column">
		<div class="checkbox">
			<span>Meals:&nbsp;&nbsp;</span>
			<md-checkbox
				ng-repeat="meal in meals"
				class="capitalize"
				ng-checked="exists(meal, recipe.mealType)" 
				ng-click="toggle(meal, recipe.mealType)">
					{{meal}}
			</md-checkbox>
		</div>
		<md-input-container>
			<label>Recipe name</label>
			<input type="text" ng-model="recipe.name">
		</md-input-container>
		<div layout="row">	
			<p>Enter Ingredients</p>
			<md-input-container	ng-repeat="ingredient in recipe.ingredients track by $index">
				<label>Ingredient {{$index + 1}}</label>
				<input type="text" ng-model="recipe.ingredients[$index]">
			</md-input-container>
		</div>
		<md-input-container>
			<md-button class="md-primary md-raised btn recipe-btn" ng-click="addMoreIngredients(recipe)">More ingredients</md-button>
		</md-input-container>
		<md-input-container>
			<label>Recipe Comments</label>
			<input type="text" ng-model="recipe.comment">
		</md-input-container>
		<md-input-container>
			<md-button class="md-primary md-raised recipe-btn" type="submit">Add to Collection</md-button>
		</md-input-container>
	</div>
</form>