<form ng-submit="addRecipe()" flex-offset-gt-xs="25" flex-gt-xs="50">
	<div layout="column" layout-xs="column">
		<div class="checkbox" layout-xs="row" layout-wrap>
			<span flex="100">Meals:&nbsp;&nbsp;</span>
			<md-checkbox
				ng-repeat="meal in meals"
				class="capitalize"
				ng-checked="exists(meal, recipe.mealType)" 
				ng-click="toggle(meal, recipe.mealType)"
				flex="40">
					{{meal}}
			</md-checkbox>
		</div>
		<md-input-container>
			<label>Recipe name</label>
			<input type="text" ng-model="recipe.name">
		</md-input-container>
		<div layout="row" layout-xs="column" layout-wrap>	
			<p flex="100">Enter Ingredients:</p>
			<md-input-container	ng-repeat="ingredient in recipe.ingredients track by $index">
				<label>Ingredient {{$index + 1}}</label>
				<input type="text" ng-model="recipe.ingredients[$index]">
			</md-input-container>
		</div>
		<md-input-container>
			<md-button class="md-primary md-raised btn recipe-btn" ng-click="addMoreIngredients(recipe)">More ingredients</md-button>
		</md-input-container>
		<md-input-container>
			<label>Recipe Comments</label>
			<input type="text" ng-model="recipe.comment">
		</md-input-container>
		<md-input-container>
			<md-button class="md-primary md-raised recipe-btn" type="submit">Add to Collection</md-button>
		</md-input-container>
	</div>
</form>